body {
  background-color: #3b444c;
  ;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 100px !important;
  color: lightblue !important;
}

.hodlonfo {
  font-size: 44px;
  font-weight: bold;
  margin-right: -140px;
  color: rgb(74, 174, 221) !important;
}

a {

  color: rgb(238, 242, 244) !important;
  font-size: large;
}

.bg-dark {
  background-color: #3b444c !important;
}

.bestPrice {
  color: #777d82;
}

.tableBg {
  background-color: #3b444c !important;
  color: #777d82 !important;
  font-size: 30px;
}

.tableBgth {
  background-color: #3b444c !important;
  color: #ffffff !important;
  font-size: large;
  font-weight: bold;
}


.center-text {
  font-size: 20px;
  text-align: center;
}

.tableBgHeader {
  background-color: #3b444c !important;
  color: rgb(74, 174, 221) !important;
  font-size: 28px;
}

.tableBgHeader1 {
  background-color: #3b444c !important;
  color: #777d82 !important;
  font-size: 20px;

}

/* to center the data in table */
.center-amount {
  font-size: 60px;
  text-align: center;
  color: white !important;
}

/* The switch - the box around the slider */
.switch {
  margin-right: 30px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
  background: #0974f1;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked+.slider:before {
  transform: translateX(1.6em);
}